* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ––––––––––––––––– Home Page ––––––––––––––––– */

.headerHome {
  position: relative;
  text-align: center;
  height: 300px;
}

.headerImgHome {
  width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.headerHeadlineHome {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ––––––––––––––––– Detail Page ––––––––––––––––– */

.headerDetail {
  position: relative;
  text-align: center;
  height: 300px;
}

.headerTextDetail {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerImgDetail {
  width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}


/* ––––––––––––––––– New Entry Page ––––––––––––––––– */

.mainNewEntry {
  margin: 50px auto;
}

.mainHeadlineNewEntry {
  text-align: center;
}

.divNewEntry {
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}